{
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"node": "current"
				}
			}
		],
		"@babel/preset-typescript"
	],
	"plugins": [
		[
			"replace-import-extensions",
			{
				".(js)$": ""
			}
		]
	]
}
