{
	"env": {
		"development": {
			"presets": ["@babel/preset-typescript"],
			"plugins": [
				"babel-plugin-add-import-extension",
				"@babel/plugin-proposal-class-properties"
			]
		},
		"test": {
			"presets": [
				[
					"@babel/preset-env",
					{
						"targets": {
							"node": "current"
						}
					}
				],
				"@babel/preset-typescript"
			]
		}
	}
}
