{
	"env": {
		"es6": true,
		"browser": true,
		"node": true,
		"jest/globals": true
	},
	"parser": "@typescript-eslint/parser",
	"extends": [
		"eslint:recommended",
		"plugin:jest/recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
    "prettier"
	],
	"rules": {
		"no-console": ["error", { "allow": ["error"] }],
		"indent": ["error", "tab", { "SwitchCase": 1 }],
		"linebreak-style": ["error", "unix"],
		"quotes": ["error", "single", { "avoidEscape": true }],
		"semi": ["error", "always"],
		"no-mixed-spaces-and-tabs": ["warn", "smart-tabs"],
		"prefer-rest-params": "warn",
		"prefer-const": "warn",
		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/no-use-before-define": "warn",
		"@typescript-eslint/explicit-function-return-type": "off",
    "prettier/prettier": "error"
	},
	"plugins": ["jest", "prettier"]
}
